<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>parking_car</title>
</head>
<body>
    <div>Parking List (car)</div>
        {% if parking_list %}
            {% for parks in parking_list %}
            <h5>
                {{ parks.location }}
                {{ parks.state }}
            </h5>
            {% endfor %}
        {% endif %}
</body>
</html>